* {
    border: 0;
    margin: 0;
    padding: 0;
    list-style-type: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    text-align: center;
    align-items: center;
    padding: 10px 10px 5px 10px;
}

p {
    padding-top: 10px;
}

#mensagem {
    font-size: 0.8em;
    padding-bottom: 5px;
}

.btn-exc {
    background: rgb(71, 61, 63);
    border-radius: 30px;
    width: 130px;
    padding: 5px 15px;
    color: white;
    font-size: 0.9em;
}

#divBTN {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#divBTN h4 {
    padding-top: 10px;
}

#divBTN input {
    margin: 5px;
}

#tituloExc {
    padding-top: 10px;
}

.textbox {
    border: 0.2em solid;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
}

#genTXT {
    margin-top: 5px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background: grey;
    color: white;
    text-align: center;
    word-wrap: break-word;
    align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#travessao {
    background: gray;
    width: 100%;
    height: 5px;
    border-radius: 3px;
}

.prazo {
    background: rgb(141, 94, 103);
    border-radius: 5px;
    color: white;
    font-size: 0.9em;
    width: 30px;
    height: 30px;
}

#divPrazo {
    margin: 10px;
}

#restore {
    background: rgb(150, 161, 52);
    border-radius: 30px;
    width: 140px;
    padding: 5px 15px;
    color: white;
    font-size: 0.9em;
}

#reset {
    background: rgb(126, 16, 38);
    border-radius: 30px;
    width: 140px;
    padding: 5px 15px;
    color: white;
    font-size: 0.9em;
}

#fileFormatIS {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 5px;
}

#datapub {
    margin-top: 5px;
}

#processoCampos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.oculto {
    display: none;
}

#acaoBTN {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#acaoBTN input {
    margin: 10px;
}

#divAudiencia, #divPericia {
    background: rgba(255, 217, 0, 0.781);
    border-radius: 5px;
    padding: 5px;
}

.btn-ok {
    width: 270px;
    margin: 5px 0 0 0;
}

.sugestoes {
    display: none;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2;
    overflow-y: auto;
    max-height: 40vh;
    position: absolute;
    border: 1px #ccc;
    align-items: center;
    padding: 3px;
}

.sugestoes ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.sugestoes li {
    cursor: pointer;
    padding: 5px 0;
    margin: 0px;
}

.sugestoes li:hover {
    background: rgba(172, 172, 172, 0.8);
}

.iconCheck {
    color: darkorange;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.iconErroValidate{
    color: darkred;
    animation-name: vibrate;
    animation-duration: 100ms;
    animation-iteration-count: 5;
}

.iconSucessValidate{
    color: forestgreen;
    animation-name: push;
    animation-duration: 1000ms;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes vibrate {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(20%);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes push {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.dataProcess {
    display: none;
    padding: 1em;
    text-align: left;
}

.dataProcess h4 {
    color: #089ecf;
    padding: 10px 15px 10px 0;
    border-bottom: 1px solid #e9e9e9;
    font-weight: 700;
    margin: 15px 0;
    font-size: 18px;
}

.fail {
    background: #d9534f;
    border-radius: 3px;
    font-weight: bold;
    font-style: normal;
    color: #fff;
}