* {
    border: 0;
    margin: 0;
    padding: 0;
    list-style-type: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 20rem;
    text-align: center;
    align-items: center;
    padding: 20px;
}

section {
    grid-template-rows: repeat(2, 1fr);
}

.section-config {
    margin: 1rem;
}

.section-config div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.section-config h5 {
    text-align: left;
}

.section-config p {
    text-align: left;
}

#mensagem {
    font-size: 0.8em;
    padding-bottom: 5px;
}

.btn-ok {
    border-radius: 5px;
    margin: 10px 0;
    width: 50px;
    height: 30px;
    padding: 5px 15px;
    color: white;
    font-size: 0.8em;
}

.btn-ok:hover {
    filter: brightness(0.9);
}

.icon {
    height: 50px;
    width: 100px;
    padding-bottom: 10px;
}

.btn_active {
    background: forestgreen;
}

.btn_inative {
    background: firebrick;
}